$ cat .gitignore
# Исключить все файлы с расширением .xlsx и т.д.
*.xlsx
#*.csv
*.zip
*.rar
*.7z
*.html
*.html
*.json
best_params.json

# Игнорировать временные файлы
*~
config.py
info.py
*gitignore
Untitled.ipynb
test.ipynb
test.py

# Игнорировать все файлы в каталогах
*/
inputData/
outputData/
system/

