$ cat .gitignore
# Исключить все файлы с расширением .xlsx и т.д.
*.xlsx
*.csv
*.zip
*.rar
*.7z
*.html
* .html

# Игнорировать временные файлы
*~

# Игнорировать все файлы в каталогах
*/
inputData/
outputData/
system/

